## Importing the dependencies

In [24]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [25]:
## loading the dataset to a pandas DataFrame 
credit_card_dataset = pd.read_csv('/content/drive/MyDrive/Datasets/creditcard.csv')

In [26]:
## first five rows of the dataset
credit_card_dataset.head()     ## All the transaction details convert into numerical value throw PCA

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [27]:
## last 5 rows of dataset
credit_card_dataset.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [28]:
## dataset informations
credit_card_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [29]:
## checking the number of missing value to each columns
credit_card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [30]:
## distribution of legit transaction & fraudulant transactions
credit_card_dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unbalanced.we cannot feed this data to our machine learning model becaused in this data fraudulant transaction are very less.. so when we feed new data to ML model to check transaction is fraudulant or not. This won't work out.

0 ---->   Normal Transaction


1 ---->  Fradulant transaction

In [31]:
## separating the data for analysis
legit = credit_card_dataset[credit_card_dataset['Class'] == 0]
fraud = credit_card_dataset[credit_card_dataset['Class'] == 1]

In [32]:
print(legit)
print(fraud)

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62      0
1            0.0   1.191857   0.266151  ...  0.014724    2.69      0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66      0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50      0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99      0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[284315 rows x 31 columns]
            Time        V1        V2  ...       V28  Amount  Class
541        406.0 -2.312227  1.951992  ... -0.143276    0.00      1
623        472.0 -3.043541 -3.157307  ...  0.035764  529.00      1
4920      4462.0 -2.303350  1.759247  ... -0.153029  239.93      1
6108      6986.0 -4.397974  1.358367  ...  0.849573   59.00      1
6329      7519.0  1.234235  3.019740  ...  0.146793    1.00      1
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[492 rows x 31 columns]

In [33]:
## Statistcal measure of the data
credit_card_dataset.Amount.describe()

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [34]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [37]:
## conpare the values for both transactions
credit_card_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Under-Sampling



Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction



Number of Fradulent Transaction

In [38]:
## Random sample taking from the legit transaction 
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [41]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [42]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
44227    41852.0  1.461193 -1.227700  ...  0.026804   32.40      0
131870   79767.0 -0.736056  0.586284  ... -0.036443   40.19      0
33803    37395.0  1.243981 -0.616648  ... -0.009627   24.12      0
151638   95853.0  0.124458  1.149012  ...  0.081590    0.89      0
228667  145603.0  2.034997  0.273058  ...  0.001003    1.00      0

[5 rows x 31 columns]

In [43]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [44]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [45]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94714.835366 -0.002553  0.024719  ... -0.015124 -0.006364   79.759634
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Spliting the data into Features & Targets

In [46]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [48]:
print(X)

            Time        V1        V2  ...       V27       V28  Amount
44227    41852.0  1.461193 -1.227700  ...  0.038589  0.026804   32.40
131870   79767.0 -0.736056  0.586284  ... -0.094896 -0.036443   40.19
33803    37395.0  1.243981 -0.616648  ... -0.040036 -0.009627   24.12
151638   95853.0  0.124458  1.149012  ...  0.194934  0.081590    0.89
228667  145603.0  2.034997  0.273058  ...  0.038571  0.001003    1.00
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [49]:
print(Y)

44227     0
131870    0
33803     0
151638    0
228667    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [50]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [51]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [52]:
model = LogisticRegression()

In [53]:
## train the Logistic Regression Model with Training data
model.fit(X_train,Y_train)

LogisticRegression()

Model Evaluation



Accuracy Score

In [55]:
## accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [56]:
print(f"Accuracy of training data : {training_data_accuracy}")

Accuracy of training data : 0.9453621346886912

In [57]:
## accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [58]:
print(f"Accuracy of test data : {test_data_accuracy}")

Accuracy of test data : 0.9137055837563451

In [96]:
data = []
for i in credit_card_dataset.iloc[541,:30]:
  data.append(i)
print(data)

[406.0, -2.3122265423262998, 1.9519920106415802, -1.6098507322976898, 3.9979055875468, -0.522187864667764, -1.4265453192059498, -2.5373873062457903, 1.39165724829804, -2.77008927719433, -2.7722721446591496, 3.20203320709635, -2.89990738849473, -0.595221881324605, -4.28925378244217, 0.38972412027448705, -1.14074717980657, -2.83005567450437, -0.0168224681808257, 0.4169557050379071, 0.126910559061474, 0.517232370861764, -0.0350493686052974, -0.46521107618238794, 0.320198198514526, 0.0445191674731724, 0.177839798284401, 0.26114500256767703, -0.143275874698919, 0.0]

# Making a Prediction System

In [95]:

input_data = data
# [406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,-2.772272,3.202033,-2.899907,-0.595222,-4.289254,0.389724,-1.140747,-2.830056,-0.016822,0.416956,0.126911,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00]

## changing input data to a numpy array
input_as_numpy_array = np.asarray(input_data)

## reshaped the numpy array
reshaped_input_data = input_as_numpy_array.reshape(1,-1)

prediction = model.predict(reshaped_input_data)
print(prediction)

if prediction == 0:
  print("This credit card transaction is not fraud ")
else:
  print("This credit card tranaction is fraud")

[0]
This credit card transaction is not fraud

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"